h1 {
  color: white;
  text-align: center;
  font-family: roboto;
  background-color: black;
}

h2 {
  color: black;
  text-align: center;
  font-family: roboto;
}

h3 {
  color: black;
  text-align: center;
  font-family: roboto;
}

p {
  color: black;
  text-align: center;
  font-family: roboto;
}

body {
  background-color: #fff;
}

#Image {
/*text-align: center;*/
  /*display: inline;*/
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}